@use '../../scss/colors' as *; 

.card-grid-container {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-grid-content {
        display: grid; 
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
    }
}