.carrousel-project-container {
  z-index: 20;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40vw;
  padding-left: 50px;
  .button-prev {
    z-index: 21;
    width: 100%;
    left: 0%;
    height: 12%;
    top: 0%;
    background-color: transparent;
    transition: background-color 0.2s;
    border: none;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: absolute;
    &:active {
        background-color: rgba(228, 230, 237, 0.33);
    }
    .arrow-prev {
      font-size: 9vh;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 30%;
      left: 43%;
      transition: color 0.2s;
    }
    &:hover {
        background-color: rgba(228, 230, 237, 0.33);
      .arrow-prev {
        color: white;
        cursor: pointer;
      }
    }
  }
  .button-next {
    left: 0%;
    width: 100%;
    height: 12%;
    bottom: -4%;
    z-index: 21;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    background-color: transparent;
    transition: background-color 0.2s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: start;
    .arrow-next {
      font-size: 9vh;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.2s;
      position: absolute;
      left: 43%;
      transition: color 0.2s;
    }
    &:active {
        background-color: rgba(228, 230, 237, 0.33);
    }
    &:hover {
        background-color: rgba(228, 230, 237, 0.33);
      .arrow-next {
        color: white;
        cursor: pointer;
      }
    }
  }
  div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    img {
      height: 35vh;
      object-fit: cover;
    }
    video {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 680px) {
  .carrousel-project-container {
    width: 47vw;
    padding-left: 10px;
    div {
      img {
        height: 35vh;
      }
      video {
        width: 100%;
      }
    }
  }
}
