.carrousel-project-container {
    z-index: 20;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40vw;
    padding-left: 50px;
    .arrow-prev {
        font-size: 9vh;
        z-index: 21;
        left: 45%;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        transition: color 0.2s;
        :hover {
            color: white;
            cursor: pointer;
        }
        :active {
            border: solid red 1px;
        }
    }
    .arrow-next {
        font-size: 9vh;
        left: 45%;
        bottom: 0%;
        z-index: 21;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        transition: color 0.2s;
        :hover {
            color: white;
            cursor: pointer;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        img {
            height: 31vh;
            object-fit: cover;
        }
    }
}


@media (max-width: 680px) {
    .carrousel-project-container {
        width: 75vw;
        padding-left: 0px;
        div {
            img {
                height: 35vh;
            }
        }
    }
  }