@use "../scss/colors" as *;

.project-data {
  width: 40vw;
  .data-container {
    height: 100vh;
    display: flex;
    gap: 2vh;
    padding-top: 3vh;
    flex-direction: column;
    &.data-padding {
      padding-top: 15vh;
    }
    .project-name {
      text-align: start !important;
      font-family: "Lexend Deca";
      font-weight: 300;
      color: $primary-color;
      font-size: 2.5vw;
      text-align: start;
    }
    h1 {
      font-family: "Lexend Deca";
      text-align: start;
      font-size: 1.4vw;
      width: 100%;
      font-weight: 500;
      span {
        font-weight: 200;
      }
    }
  }
}

@media (max-width: 680px) {
  .project-data {
    width: 50vw;
    .data-container {
      padding-top: 0px;
      gap: 10px;
      &.data-padding {
        padding-top: 7vh;
      }
      .project-name {
        font-size: 22px;
      }
      h1 {
        font-size: 14px;
      }
    }
  }
}
