@use './../../scss/colors' as *;

.regular-card {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  cursor: pointer;
  .icon {
    color: $primary-color;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #2d2d2d;
    text-align: center;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #7c7d7e;
    font-weight: 300;
  }
}
