@use "./../../scss/colors" as *;

.layout-container {
  &.no-spacement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .children {
      width: 100%;
      position: initial;
      display: block;
    }
  }

  &.projects-section {
    height: 100vh;
    .children {
      padding-left: 11vw;
      height: 100vh;
      width: 100%;
      position: initial;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }
}

@media (max-width: 680px) { 
  .layout-container {
    display: block;
    .children {
      .layout-title {
        font-size: 3.5vh;
      }
    }
    &.banner-footer-responsive {
      height: 50vh;
    }
    &.projects-section {
      .children {
        padding-left: 15px; 
      }
    }
  }
}



