@use "./../../scss/colors" as *;

.layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .children {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    .layout-title {
      font-family: "Lexend Deca", sans-serif !important;
      font-size: 3.5vw;
      color: $primary-color;
      position: absolute;
      left: 0%;
      top: 7%;
      font-weight: 300;
      &.white {
        color: $light;
        left: 0%;
        top: 10%;
      }
    }

  }

  &.no-spacement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .children {
      width: 100%;
      position: initial;
      display: block;
    }
  }

  &.projects-section {
    height: 100vh;
    .children {
      padding-left: 11vw;
      height: 100vh;
      width: 100%;
      position: initial;
      display: flex;
      justify-content: space-between;
      align-items: start;
      .layout-title {
        font-family: "Lexend Deca", sans-serif !important;
        font-size: 3.5vw; 
        position: initial;
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 680px) { 
  .layout-container {
    .children {
      .layout-title {
        font-size: 3.5vh;
      }
    }
    &.banner-footer-responsive {
      height: 50vh;
    }
    &.services-section {
      background-image: url('../../assets/bg-services-mobile.png') !important;
      .children {
        flex-direction: column;
        padding-top: 4vh;
        .layout-title {
          font-size: 4.9vh;
          padding-bottom: 5vh;
          text-align: center;
          left: 2%;
          &.white {
            position:unset;
            color: $light;
            left: 0%;
            top: 0%;
          }
        }
      }
    }
  }
}



