@use "./../../scss/colors" as *;

.layout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .children {
      width: 100%;
      position: initial;
      display: block;
    }

  &.projects-section {
    height: 100vh;
    .children {
      height: 100vh;
      width: 100%;
      position: initial;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }
}

@media (max-width: 680px) { 
  .layout-container {
    display: block;
    &.banner-footer-responsive {
      height: 50vh;
    }
    &.projects-section {
    }
  }
}



