@use "../../scss/colors" as *;

.navbar-container {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  .navbar-content {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/rectangle_large.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    .navbar-logo {
        width: 6.9%;
        position: absolute;
        left: 1.4%;
        pointer-events: all;
        top: 1.2%;
      }
    .navbar-links {
      .bars-icon {
        display: none;
      }
      ul {
        color: $light;
        position: absolute;
        right: 2%;
        top: 2%;
        align-items: center;
        justify-content: start;
        display: flex;
        gap: 30px;
        li {
          pointer-events: all;
          cursor: pointer;
          font-weight: 300;
          font-size: 1.3vw;
          list-style: none;
        }
      }
    }
    .dropdown-navbar {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  .navbar-container {
    height: 100vh;
    .navbar-content {
      height: 100vh;
      .navbar-logo {
        width: 6.9%;
        height: auto;
        left: 1.6%;
        top: 1%;
      }
      .navbar-links {
        ul {
          top: 2%;
          gap: 18px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar-container {
    height: 100vh;
    .navbar-content {
      height: 100vh;
      .navbar-logo {
        width: 6.2%;
        left: 1.4%;
        top: 1%;
      }
      .navbar-links {
        ul {
          top: 2%;
        }
      }
    }
  }
}

//mobile breakpoint
@media (max-width: 900px) {
  .navbar-container {
    .navbar-content {
      background-image: url("../../assets/rectangle_mobile.png");
      background-repeat: no-repeat;
      .navbar-logo {
        width: 15%;
        position: absolute;
        left: 3%;
        top: 1.3%;
      }
      .dropdown-navbar {
        display: block;
        right: 0%;
        position: absolute;
        top: 0%;
        pointer-events: all;
      }
      .navbar-links {
        ul {
          display: none;
        }
      }
    }
  }
}