@use "./../../scss/colors" as *;

.section-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  .data-container {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    .section-title {
      font-family: "Lexend Deca";
      font-weight: 300;
      color: $primary-color;
      font-size: 2.5vw;
      text-align: start;
    }
    h1 {
      font-family: "Lexend Deca";
      text-align: start;
      font-size: 1.3vw;
      width: 70%;
      font-weight: 500;
      span {
        font-weight: 200;
      }
    }
  }
}

@media (max-width: 680px) {
  .section-data {
    .data-container {
      width: 100%;
      .section-title {
        font-size: 4.9vh;
      }
      h1 {
        font-size: 2.3vh;
        width: 100%;
      }
    }
  }
}