@use "../../scss/colors" as *;

.form-container {
  display: flex;
  gap: 2vw;
  align-items: start;
  padding-left: 11vw;
  .form-content {
    width: 50vw;
    .form-fields-container {
      width: 30vw;
      display: flex;
      flex-direction: column;
      padding: 25px;
      gap: 2vh;
      border: solid 3px $primary-color;
      border-radius: 10px;
      .form-field {
        border: solid 3px $primary-color;
        height: 5vh;
        border-radius: 5px;
        color: $primary-color;
        font-size: 2.5vh;
        font-family: "Lexend Deca";
        font-weight: 500;
        background: #F4EBD6;
        padding-left: 1vw;
        &:focus-visible {
          outline: none;
        }
        &::placeholder {
          color: $primary-color;
          font-size: 2.5vh;
          font-family: "Lexend Deca";
          font-weight: 500;
        }
      }
      .text-area-container {
        border: solid 3px $primary-color;
        border-radius: 5px;
        color: $primary-color;
        font-size: 2vh;
        background: #F4EBD6;
        font-family: "Lexend Deca";
        font-weight: 400;
        padding-left: 1vw;
        &::placeholder {
          color: $primary-color;
          font-size: 2.5vh;
          font-family: "Lexend Deca";
          font-weight: 500;
        }
      }
      .form-button {
        background-color: #98BB97;
        color: $light;
        font-size: 2.5vh;
        font-family: "Lexend Deca";
        font-weight: 400;
        border: none;
        margin-top: 3vh;
        border-radius: 5px;
        height: 5vh;
        width: 25%;
        cursor: pointer;
        align-self: center;
      }
    }
  }
  .vr {
    border: 1.5px solid #4B4640;
    opacity: 1;
    height: 90vh;
  }
  .socials-content {
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: start !important;
    padding-left: 3vw;
    .title-socials {
      font-size: 3vw;
      padding-bottom: 9vh;
      font-family: "Lexend Deca";
      font-weight: 300;
      color: $primary-color;
    }
    .socials-icons {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 4vh;
      .social-wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1vw;
        width: 43vw;
        .social-icon {
          font-size: 7vh;
          color: $primary-color;
          cursor: pointer;
        }
        p {
          font-size: 3.8vh;
          font-family: "Lexend Deca";
          font-weight: 300;
          color: $primary-color;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 1vh 11vh;
  p {
    color: $light;
    font-family: 'Lexend Deca';
    font-weight: 300;
  }
}

@media (max-width: 1200px) {
  .form-container {
    background-color:#E5D3AD;
    flex-direction: column;
    padding-left: 0vw;
    .form-content {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      gap: 20px;
      padding-top: 3vh;
      .form-fields-container {
        width: 100%;
        border: solid 2px $primary-color;
        .form-field {
          width: 100%;
          border: solid 2px $primary-color;
        }
        .text-area-container {
          width: 100%;
          border: solid 2px $primary-color;
        }
        .form-button {
          width: 100%;
        }
      
      }
    }
    .vr {
      display: none;
    }
    .socials-content {
      background-color:#E5D3AD;
      padding-top: 8vh;
      width: 100%;
      padding-bottom: 2vh;
      .socials-icons {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        width: 100%;
        .social-wrapper {
          display: flex;
          justify-content: start;
          align-items: center;
          width: 100%;
          gap: 1vw;
          .social-icon {
            font-size: 6vh;
            color: $primary-color;
            cursor: pointer;
          }
          p {
            font-size: 2vh;
            font-family: "Lexend Deca";
            font-weight: 300;
            color: $primary-color;
          }
        }
      }
    }
  }
  footer {
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1vh 0px;
    align-items: start;
    span {
      display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 125px;

    }
    p {
      padding-left: 15px;
      color: $light;
      font-size: 1.2vh;
      font-family: 'Lexend Deca';
      font-weight: 300;
    }
  }
}
