@use "../../scss/_colors" as *;

.dropdown {
    .bars-icon {
        position: static;
        display: block;
        transition: transform 0.1s ease-in-out;
        &.bars-icon-open {
          transform: rotate(90deg);
        }
      }
    .dropdown-content {
        right: 2%;
        padding: 20px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        border-radius: 20px;
        top: 0%;
        background-color: $primary-color;
        color: $light;
        width: 100vw;
        pointer-events: none;
        height: 100vh;
        .dropdown-logo {
            width: 52px;
        }
        ul {
            li {
                cursor: pointer;
                pointer-events: all;
                list-style: none;
                font-size: 18px;
                font-weight: 200;
                margin-bottom: 10px;
            }
        }
    }
}