@use "../../scss/_colors" as *;

.dropdown {
    .bars-icon {
        display: block;
        z-index: 1;
        padding: 10px;
        right: 2%;
        position: absolute;
        top: 15%;
        cursor: pointer;
        font-size: 5vw;
        transition: transform 0.1s ease-in-out;
        &.bars-icon-open {
          transform: rotate(90deg);
        }
      }
    .dropdown-content {
        right: 1%;
        padding: 20px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        border-radius: 20px;
        top: 5%;
        background-color: $primary-color;
        color: $light;
        width: 220px;
        .dropdown-logo {
            width: 52px;
        }
        ul {
            li {
                list-style: none;
                font-size: 18px;
                font-weight: 200;
                margin-bottom: 10px;
            }
        }
    }
}