@use "./../../scss/colors" as *;

.about-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 11vw;
  .about-content {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: start;
    .about-informations {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 39vw;
      text-align: start !important;
      .stage-title {
        font-family: "Lexend Deca";
        color: $primary-color;
        font-weight: 300;
        font-size: 2.8vw;
        &.with-spacement {
            padding-top: 12vh;
        }
      }
      h2 {
        font-family: "Lexend Deca";
        color: $primary-color;
        font-weight: 300;
        font-size: 1.8vw;
        margin-top: 20px;
      }
      p {
        font-family: "Lexend Deca";
        color: $primary-color;
        font-weight: 200;
        font-size: 1.5vw;
      }
    }
    .about-assets {
      height: 90vh;
      pointer-events: all;
      img {
        height: 100vh;
        object-fit: cover;
        width: 40vw;
        padding-left: 50px;
        &:hover {
          transform: none;
        }
      }
      video {
        height:100vh;
        width: 40vw;
        pointer-events: all;
        object-fit: cover;
        padding-left: 50px;
      }
    }
  }
}

@media (max-width: 680px) {
  .about-container {
    padding-left: 15px; 
    .about-content {
      .about-informations {
        width: 49vw;
        .stage-title {
          font-size: 22px;
          &.with-spacement {
            padding-top: 7vh;
          }
        }
        h2 {
          font-size: 16px;
          margin-top: 10px;
          margin-bottom: 0px;
        }
        p {
          font-size: 16px;
        }
      }
      .about-assets {
        img {
          width: 46vw;
          padding-left: 10px;
        }
        video {
          width: 46vw;
          object-fit: cover;
          padding-left: 10px;
        }
      }
    }
  }
}
