@use "./scss/colors" as *;

.layout {
    padding-left: 10%;
    padding-right: 49px;
}

.title-section {
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 4vw;
    padding-top: 8vh;
    padding-left: 10%;
    color: $primary-color;
    padding-bottom: 0vh;
    font-weight: 300;
    &.white {
        color: $light;
    }
}

img {
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}


@media (max-width: 768px) {
    .layout {
        padding-left: 20%;
        padding-right: 60px;
    }
}