@use "./scss/colors" as *;

.layout {
    padding-left: 10%;
    padding-right: 49px;
}

.title-section {
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 4vw;
    padding-top: 8vh;
    padding-left: 10%;
    color: $primary-color;
    padding-bottom: 0vh;
    font-weight: 300;
    &.white {
        color: $light;
    }
}


@media (max-width: 768px) {
    .layout {
        padding-left: 20%;
        padding-right: 60px;
    }
}
    .carousel-icon {
        color: $primary-color;	
        cursor: pointer;
    }



.grid-section-buttons-container {
    display: flex;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    .grid-section-buttons-inner {
        border: solid 2px $primary-color;
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            .icon-grid-section-prev {
                color: $light;
            }
            .icon-grid-section-next {
                color: $light;
            }
        }
        align-self: center;
        display: flex;
        width: 18vw;
        height: 3.9vh;
        justify-content: center;
        .icon-grid-section-prev {
            color: $primary-color;
            margin-top: 2px; 
            font-size: 1.5vw;
        }
        .icon-grid-section-next {
            color: $primary-color;
            transform: rotate(180deg);
            font-size: 1.5vw;
            margin-top: 2px;
        }
    }
}


.image-section-carousel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .image-carousel-section {
        height: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        img {
            width: 18vw;
            pointer-events: all;
            object-fit: cover;
        }
      }
  }

