@use "scss/colors" as *;

body {
  font-family: "Lexend Deca", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
  a {
    text-decoration: none;
    color: $light;
  }
  h1 {
    margin: 0;
    color: $primary-color;
  }
  p {
    margin: 0;
    font-weight: 400;
  }

  
  .title {
    font-family: "Lexend Deca", sans-serif !important;
    font-size: 3.5vw;
    color: $primary-color;
    font-weight: 300;
    margin-bottom: 20px;
    &.white-title {
      color: $light;
      font-weight: 300;
      font-family: "Lexend Deca", sans-serif !important;
    }
  }

  .layout-padding {
    padding-top: 8vh;
  }

  .carousel {
    .thumbs-wrapper {
      display: none;
    }
    .slide {
      text-align: start;
    }
    .control-dots {
      bottom: 2%;
      width: 50%;
      left: 6%;
      .dot {
        display: none;
        &.selected {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 680px){
  body {
    .layout-padding {
      padding-top: 10vh;
    }
    .title {
      font-size: 30px;
      text-align: start;
      margin-bottom: 20px;
      &.white-title {
        color: $light;
        font-weight: 300;
        font-family: "Lexend Deca", sans-serif !important;
      }
    }
    .carousel {
      .control-dots {
        bottom: 5%;
      }
    }
  }

}