@use "./../../scss/colors" as *;

@keyframes slidein {
  0% {
    background-image: url("../../assets/casa-terrea/22.jpg");
  }
  25% {
    background-image: url("../../assets/casa-terrea/image2.jpg");
  }
  50% {
    background-image: url("../../assets/casa-terrea/image1.jpg");
  }
  75% {
    background-image: url("../../assets/casa-terrea/21.jpg");
  }
  100% {
    background-image: url("../../assets/casa-terrea/22.jpg");
  }
}

@keyframes slideinMobile {
  0% {
    background-image: url("../../assets/casa-terrea/small/22.jpg");
  }
  25% {
    background-image: url("../../assets/casa-terrea/small/image2.jpg");
  }
  50% {
    background-image: url("../../assets/casa-terrea/small/image1.jpg");
  }
  75% {
    background-image: url("../../assets/casa-terrea/small/21.jpg");
  }
  100% {
    background-image: url("../../assets/casa-terrea/small/22.jpg");
  }
}

.banner-container {
  height: 100vh;
  display: flex;
  background-image: url("../../assets/casa-terrea/22.jpg");
  animation: slidein 30s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  align-items: start;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 50%;
  justify-content: center;

  &:before {
    content: "";
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(75, 70, 64, 0.281);
  }

  .banner-content {
    position: relative;
    z-index: 30;
    width: 90%;
    height: 60%;
    padding-left: 10%;
    padding-top: 10%;
    .banner-title-container {
      background-color: rgba(75, 70, 64, 0.6);
      width: 37%;
      border-radius: 10px;
      padding: 12px;
      display: flex;
      justify-content: center;
      h1 {
        font-family: "Lexend Deca";
        font-size: 3.7vw;
        color: $light;
        font-weight: 200;
        text-align: start;
        .diferent-color-title {
          color: $green;
          font-weight: 200;
          font-family: "Lexend Deca";
          font-size: 3.7vw;
        }
      }
    }
    .subtitle-container {
      font-size: 2.3vw;
      width: 90%;
      height: 100%;
      display: flex;
      padding-right: 49px;
      align-items: end;
      justify-content: end;
      p {
        color: $light;
        background-color: rgba(75, 70, 64, 0.4);
        padding: 10px;
        border-radius: 10px;
        font-family: "Lexend Deca";
        font-weight: 200;
      }
    }
  }
}

@media (max-width: 680px) {
  .banner-container {
    height: 100vh;
    animation: slideinMobile 30s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    align-items: center;
    .banner-content {
      height: 60%;
      padding-top: 0%;
      .banner-title-container {
        width: 70%;
        h1 {
          font-size: 3vh;
          .diferent-color-title {
            font-size: 2.7vh;
          }
        }
      }
      .subtitle-container {
        width: 100%;
        height: 80%;
        padding-right: 0;
        p {
          font-size: 2vh;
        }
      }
    }
  }
}
