@use "../../scss/colors" as *;

.external-carousel-container {
  .buttons-container {
    position: absolute;
    left: 30%;
    bottom: 5%;
    &.prev {
      left: 26%;
      pointer-events: all;
      z-index: 10;
    }
    button {
      position: relative;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border: solid 3px $primary-color;
      border-radius: 10px;
      background-color: transparent;
      &.clicked {
        transition: background-color 0.2s ease;
        background-color: rgba(75, 70, 64, 0.5);
      }
      .carousel-arrow {
        &.prev {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .external-carousel-container {
    .buttons-container {
      &.prev {
        left: 16%;
      }
      button {
        height: 40px;
        width: 40px;
      }
    }
  }
}
